    :root {
        color: rgba(0,0,0, 0.66);
    }
    
    html,
    body,
    canvas {
        padding: 20;
        margin: 20;
    }

    input[type="radio"] {
      margin-top: -1px;
      vertical-align: middle;
    }

    .hide-me {
        visibility: hidden;
        opacity: 0;
        transform: scale(.75);
    }

    h1 {
        margin-top: 0;
        font-size: 2.4em;
        font-weight: normal;
        display: inline-block;
    }

    body {
        font-family: Helvetica, sans-serif;
        padding: 50px 10%;
    }

    button {
        background-color: #4791d0;
        color: #FFF;
        border: none;
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        box-shadow: 2px 2px 0 #034154;
        margin-bottom: 10px;
        margin-left: 18px;
        transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
        position: relative;
        top: 5px;
    }

    button:hover {
        background-color: #034F66;
    }

    button:active {
        background-color: #034154;
        box-shadow: none;
        position: relative;
        top: 7px;
        left: 2px;
    }

    p {
        padding: 4px 0 2px 8px;
        line-height: 1.7;
        border-top: 1px dotted #DDD;
        list-style: none;
        margin: 1;
    }

    #description {
        padding: 0 0 0 20px;
    }

    #mask {
        padding: 2px 2px 2px 5px;
        margin: 0 0 0 20px;
    }

    #trainer-formular {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 20px 20px 20px 20px;
        margin: 40px 0px 40px 0px;
    }

    canvas {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding-left: 0;
        padding-right: 0;
        margin: 20px auto 20px auto;
        display: block;
    }

    img {
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
        margin: 20px auto 20px auto;
        display: block;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }